body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

.wrapper {
  max-width: 960px;
  margin: 60px auto 60px auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header img {
  width: 175px;
  border-radius: 50%;
  margin-right: 30px;
}

.my-name {
  font-size: 80px;
  font-weight: bold;
  margin-left: 5px;
}

/* NAV LINKS */

nav {
  font-size: 17px;
  margin-bottom: 10px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

nav a:hover {
  color: #2dc9c7;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.about-link {
  color: #f82ea0;
}

.email-link {
  color: #ffa02d;
}

.github-link {
  color: #50e295;
}

.resume-link {
  color: #5399e4;
}

.projects-link {
  color: #9579cb;
}

.short-bio {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
}

/* BIO */

.bio {
  width: 100%;
  background-color: #f4f3f4;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  padding: 10px 10px 10px 20px;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol {
  list-style-type: none;
  margin-left: 0;
}

ol > li {
  counter-increment: customlistcounter;
}

ol > li:before {
  content: counter(customlistcounter) " ";
  font-weight: bold;
  float: left;
  width: 2em;
}

ol:first-child {
  counter-reset: customlistcounter;
}

/* PROJECTS */

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 50px;
}

.project img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 1px solid #c7c7c7;
  margin-bottom: 15px;
}

.project img:hover {
  box-shadow: 0 0 10px #c7c7c7;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.project-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
}

.project-tech {
  margin-bottom: 10px;
}

.project-tech,
.app-repo-links {
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}

.app-link,
.repo-link {
  text-decoration: underline;
}

.app-link:hover {
  color: #f82ea0;
}

.repo-link:hover {
  color: #9579cb;
}

.project-description {
  font-size: 16px;
  color: #777777;
}