body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
}

a {
  text-decoration: none;
  color: #333333;
}

.wrapper {
  max-width: 960px;
  margin: 60px auto 60px auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header img {
  width: 175px;
  border-radius: 50%;
  margin-right: 30px;
}

.my-name {
  font-size: 80px;
  font-weight: bold;
  margin-left: 5px;
}

/* NAV LINKS */

nav {
  font-size: 17px;
  margin-bottom: 10px;
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
}

nav a:hover {
  color: #2dc9c7;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.about-link {
  color: #f82ea0;
}

.email-link {
  color: #ffa02d;
}

.github-link {
  color: #50e295;
}

.resume-link {
  color: #5399e4;
}

.projects-link {
  color: #9579cb;
}

.short-bio {
  font-size: 16px;
  font-family: 'Source Code Pro', monospace;
}

/* BIO */

.bio {
  width: 100%;
  background-color: #f4f3f4;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  padding: 10px 10px 10px 20px;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ol {
  list-style-type: none;
  margin-left: 0;
  counter-reset: foo;
  display: table;
  line-height: 30px;
}

ol > li {
  counter-increment: customlistcounter;
  display: table-row;
}

ol > li:before {
  content: counter(customlistcounter) " ";
  display: table-cell;
  font-weight: bold;
  width: 2em;
}

ol:first-child {
  counter-reset: customlistcounter;
}

/* PROJECTS */

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  margin-top: 40px;
}

.project img {
  max-width: 100%;
  height: auto;
  border: 1px solid #c7c7c7;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: all .6s;
  overflow: hidden;
  height: 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 28px;
}

.img:hover .overlay,
.overlay:hover {
  height: 100%;
  opacity: 0.9;
  filter: alpha(opacity=90);
}

.overlay-simplefolio {
  background: #9579cb;
}

.overlay-creativecrypto {
  background: #f82ea0;
}

.img > img {
  display: block;
}

.project-tech {
  margin-bottom: 10px;
}

.project-tech,
.app-repo-links {
  font-family: 'Source Code Pro', monospace;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
}

.app-link,
.repo-link {
  text-decoration: underline;
}

.app-link:hover,
.repo-link:hover {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.app-link:hover {
  color: #f82ea0;
}

.repo-link:hover {
  color: #9579cb;
}

.project-description {
  font-size: 16px;
  color: #777777;
}